@import './../../ColorFonts.scss';

.HeaderTop{
    // font-family: 'Lota';
    background-color: rgba($color: $black, $alpha: 0.9);
    .in{color: $white;text-decoration: none;}
    li{color: $white;}
    .btn{
        background-color: transparent;
        border-color: transparent;
        color: $white;
        font-size: 14px;
        padding: 0;
        // margin-left: 10px;
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, 
    .btn-primary:not(:disabled):not(.disabled):active:focus, 
    .show>.btn-primary.dropdown-toggle:focus{
        background-color: transparent;
        border-color: transparent;
        box-shadow:none;
    }
    .btn-primary:focus {
        background-color: transparent;
        border-color:transparent;
        box-shadow: none;
    }
}