@import './../../ColorFonts.scss';
.bg{
    background-image: url('./bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $gray;
}
.who{
    h1{
        color: $yollow;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: bold;
        font-family: 'times';
    }
    p{
        color: $white;
        font-family: 'Lota';
    }
}