@import './../../ColorFonts.scss';

.header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99;
    img{
        width: 250px;
        object-fit: contain;
    }
    .nav-link{
        color: $white !important;
        cursor: pointer;
        padding: 5px 20px !important;
        position: relative;
        // font-family: 'Lota';
        &::after{
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $yollow;
            opacity: 0;
            transition: ease width 0.5s;
            transition: ease opacity 0.5s;
        }
    }
    .active{
        color: $yollow !important;
        position: relative;
        // font-family: 'Lota';
        &::after{
            content: ' ';
            width: 100%;
            opacity: 1;
        }
    }
    .dropdown-menu{
        .dropdown-item.active{
            color: #fff !important;
            background-color: $yollow;
        }
        .dropdown-item{
            padding: 10px 30px;
            &:active {
                color: #fff;
                background-color: $yollow;
            }
            // &:hover {
            //     color: #fff;
            //     background-color: $yollow;
            // }
        }
    }
}

@media (max-width: 575.98px){
    .header{
        img{width: 135px;}
        .navbar-toggler {
            color: $white;
            border-color: $white;
            padding: 4px 7px;
        }
        .navbar-nav{
            background: #000;
            z-index: 999999;
            text-align: left;
            padding: 31px;
        }
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .header{
        img{width: 135px;}
        .navbar-toggler {
            color: $white;
            border-color: $white;
            padding: 4px 7px;
        }
        .navbar-nav{
            background: #000;
            z-index: 999999;
            text-align: left;
            padding: 31px;
        }
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .header{
        img{width: 135px;}
        .navbar-toggler {
            color: $white;
            border-color: $white;
            padding: 4px 7px;
        }
        .navbar-nav{
            background: #000;
            z-index: 999999;
            text-align: left;
            padding: 31px;
        }
    }
}
