@import './../../ColorFonts.scss';

.footer{
    background-color: $black;
    color: $white;
    .Layer{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    p{font-size: 13px; font-family: 'Lota';}
    a{
        color: $white;
        text-decoration: none;
        font-size: 13px;
        font-family: 'Lota';
    }
    svg{
        font-size: 40px;
        padding: 10px;
        border: 1px solid;
        color: $yollow;
    }
    .form-control{
        font-family: 'Lota';
        padding: 1.5rem .75rem;
        color: $yollow;
        background-color: transparent;
        border: 1px solid $yollow;
        border-radius: 0;
    }
    .input-group-text{
        font-family: 'Lota';
        color: $yollow;
        background-color: transparent;
        border: 1px solid $yollow;
        border-radius: 0;
        cursor: pointer;
    }
}