@import './../../ColorFonts.scss';

.Values{
    h1{
        color: $yollow;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
    }
    ul{
        li{
            h2{
                color: $yollow;
                font-size: 90px;
                text-align: center;
                font-family: 'times';
            }
            .square_title{
                color: $black;
                background-color: $yollow;
                padding: 8px;
                width: 200px;
            }
            p{
                color: $white;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 575.98px){
    .Values{
        ul{
            li{
                h2{
                    font-size: 75px;
                }
            }
        }
    }
}
