// fonts

@font-face {
    font-family: 'times';
    src:url('../Fonts/Times_new_roman/timesbd.ttf') format('opentype');
}
@font-face {
    font-family: 'Lota';
    src:url('../Fonts/lato/Lato-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'GE_SS';
    src:url('../Fonts/59GE-SS-Two.otf') format('opentype');
}

// color
$yollow:#DAB469;
$white: #fff;
$black: #000;
$gray:#141414;