@import './../../ColorFonts.scss';

.message{
    .bg_person{
        background-image: url('./bg_person.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        img{
            width: 100%;
            object-fit: contain;
            position: absolute;
            right: -66px;
            z-index: 5;
            bottom: 0;
        }
    }
    h1{
        color: $yollow;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: bold;
        font-family: 'times';
    }
    .body_message{
        background-color: rgba($color: $black, $alpha: 0.6);
        padding: 55px 45px;
        border-radius: 5px;
        p{
            color: $white;
            font-size: 15px;
            margin-bottom: 55px;
            font-family: 'Lota';
        }
        h5{
            color: $yollow;
            text-align: end;
            font-family: 'times';
        }
    }
}

@media (max-width: 575.98px){

    .message{
        .bg_person{
            img{
                position: relative;
                right: 0;
                bottom: 0;
            }
        }
        h1{font-size: 24px;}
        .body_message{
            padding: 28px 15px;
            p{font-size: 12px;}
            h5{font-size: 13px;}   
        }
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .message{
        .bg_person{
            img{
                position: relative;
                right: 0;
                bottom: 0;
            }
        }
        h1{font-size: 30px;}
        .body_message{
            padding: 28px 15px;
            p{font-size: 15px;}
            h5{font-size: 17px;}   
        }
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .message{
        .body_message{
            padding: 30px;
            p{font-size: 13px;}
            h5{font-size: 15px;}
        }
    }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

