@import './../ColorFonts.scss';

.Strategy{
    h1{
        color: $yollow;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: bold;
    }
    p{
        color: $white;
    }
    ul{
        li{
            background-color: rgba($color: $black, $alpha: 0.6);
            border-radius: 8px;
            margin: 15px;
            img{
                margin-bottom: 20px;
            }
            h5{
                font-size: 15px;
                color: $yollow;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                color: $white;
            }
        }
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .Strategy{
        ul{
            li{
                h5{font-size: 12px;}
                font-size: 11px;
            }
        }
    }
}
