@import './../../ColorFonts.scss';

.body{
    h1{
        color: $yollow;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: bold;
    }
    p{
        font-size: 15.4px;
        color: $white;
    }
    img{
        width: 60%;
        height: 299px;
        object-fit: contain;
        border: 5px solid $yollow;
    }
    h2{
        color: $white;
        border-bottom: 1px solid $yollow;
        padding-bottom: 5px;
    }
    h4{color: $yollow;}
    
}
@media (max-width: 575.98px){

    .body{
        p{font-size: 11px;}
        img{width: 100%;}
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .body{
        p{font-size: 11px;}
        img{width: 100%; height: 235px;}
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .body{
        p{font-size: 11px;}
        img{width: 100%; height: 235px;}
    }
}