@import './Components/ColorFonts.scss';
.lion_bg{
    background-image: url('./lion_bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $gray;
}
.bg{
    background-image: url('./bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $gray;
}

.times{
    font-family: 'times';
}
.lota{
    font-family: 'Lota';
}
.GE_SS{
    font-family: 'GE_SS' !important;
}